**/.vs
**/.git
**/bin
**/obj
**/*.user
**/*.suo
.env
.env.*
!.env.example
appsettings.Development.json
run.log
README.md
test/
src/VodonghaPersonal/wwwroot/app.css
src/VodonghaPersonal/wwwroot/app.css.map
src/VodonghaPersonal/wwwroot/admin.css
src/VodonghaPersonal/wwwroot/admin.css.map
