/* Error: Undefined variable.
 *    ,
 * 46 |         padding: $space-5 $space-6 $space-6;
 *    |                  ^^^^^^^^
 *    '
 *   Styles\_blog.scss 46:18  @use
 *   Styles\app.scss 8:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 46 \2502          padding: $space-5 $space-6 $space-6;\a    \2502                   ^^^^^^^^\a    \2575 \a   Styles\\_blog.scss 46:18  @use\a   Styles\\app.scss 8:1      root stylesheet";
}
